<!--
  Generated template for the CustomizeADressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{mode}} Dress</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="dressForm" (ngSubmit)="onSubmit()">
    <ion-list class="dress-description">
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Difficulty</ion-label>
        <ion-select formControlName="difficulty">
          <ion-option *ngFor="let option of selectOptions" [value]="option">{{option}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button type="button" class="accessory-setting" clear ion-button block (click)="manageAccessories()">Manage Accessories</button>
    <ion-list formArrayName="accessories">
      <ion-item *ngFor="let accessoryControl of dressForm.get('accessories').controls; let i=index">
        <ion-grid class="accessory-block" [formGroupName]="i">
          <ion-row>
            <ion-col>Name:</ion-col>
            <ion-col>
              <input formControlName="name">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Amount:</ion-col>
            <ion-col>
              <input formControlName="amount">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Color:</ion-col>
            <ion-col>
              <input formControlName="color">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Length:</ion-col>
            <ion-col>
              <input formControlName="length">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <button type="submit" class="dress-mode" ion-button [disabled]="!dressForm.valid">{{mode}} Dress</button>
  </form>
</ion-content>
