<!-- <ul class="deck">
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-bicycle picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-bicycle picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-fa-bicycle picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-bicycle picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-diamond picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-anchor picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-bolt picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-cube picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-anchor picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-bomb picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-paper-plane-o picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-leaf picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-cube picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-diamond picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-bicycle picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
    <li class="cardContainer">
      <div class="frontandbacksidediv">
        <div class="card frontside"><i class="fa fa-paper-plane-o picture"></i></div>
        <div class="card backside"></div>
      </div>
    </li>
  </ul> -->

<!--
 -->

 <!-- <ul class="deck">
  <li class="cardContainer" >
    <game-card #game_card_ref  (adjustCardAlreadyChoosed)="cardClickedGetObject($event)" (cardAnimationDone)="func11($event)"> </game-card>
    </li>
    <li class=" cardContainer ">
       <game-card   #game_card_ref2  (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref3 [cardAlreadyChoosed3]='signal3' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref4 [cardAlreadyChoosed4]='signal4' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref5 [cardAlreadyChoosed5]='signal5' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref6 [cardAlreadyChoosed6]='signal6' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref7 [cardAlreadyChoosed7]='signal7' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref8 [cardAlreadyChoosed8]='signal8' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref9 [cardAlreadyChoosed9]='signal9' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref10 [cardAlreadyChoosed10]='signal10' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref11 [cardAlreadyChoosed11]='signal11' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref12 [cardAlreadyChoosed12]='signal12' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref13 [cardAlreadyChoosed13]='signal13' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref14 [cardAlreadyChoosed14]='signal14' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref15 [cardAlreadyChoosed15]='signal15' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
  <li class="cardContainer">
    <game-card #game_card_ref16 [cardAlreadyChoosed16]='signal16' (adjustCardAlreadyChoosed)="cardClickedGetObject($event)"> </game-card>
  </li>
</ul> -->

<!--  -->

<ul class="deck">
  <li class="cardContainer" *ngFor="let picture of arrayOfPictures">
    <game-card [cardPicture]=picture (collectEachCard)="collectClickedCard($event)"> </game-card>
    </li>
  </ul>
   <!--  <ion-list class="deck">
  <ion-item class="cardContainer" *ngFor="let picture of arrayOfPictures"></ion-item>
    <game-card [cardPicture]=picture (collectEachCard)="collectClickedCard($event)"> </game-card>
    </ion-list> -->
    <!-- <li class=" cardContainer ">
       <game-card [cardPicture]=arrayOfPicture[1]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card [cardPicture]=arrayOfPicture[2]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card [cardPicture]=arrayOfPicture[3]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card [cardPicture]=arrayOfPicture[4]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card [cardPicture]=arrayOfPicture[5]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card [cardPicture]=arrayOfPicture[6]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card [cardPicture]=arrayOfPicture[7]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card [cardPicture]=arrayOfPicture[8]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card [cardPicture]=arrayOfPicture[9]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card[cardPicture]=arrayOfPicture[10]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card [cardPicture]=arrayOfPicture[11]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card [cardPicture]=arrayOfPicture[12]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card [cardPicture]=arrayOfPicture[13]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card [cardPicture]=arrayOfPicture[14]> </game-card>
  </li>
  <li class="cardContainer">
    <game-card[cardPicture]=arrayOfPicture[15]> </game-card>
  </li> -->
<!-- </ul> -->
